<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><a href="<%= @post.link %>"><%= @post.title %></a></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <% if admin_signed_in? %>
    <%= :destroy %>
  <% end %>
</div>
